@import "tailwindcss";

@font-face {
  font-family: 'Socilo';
  src: url('/Socilo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue';
  src: url('/fonnts.com-Neue_Haas_Unica.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}


/* view transition api */
.page-transition {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.page-transition.active {
  opacity: 1;
}

@supports (view-transition-name: none) {
  .page-transition {
    transition: none;
  }

  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: linear(
      0 0%, 0.2342 12.49%, 0.4374 24.99%,
      0.6093 37.49%, 0.6835 43.74%,
      0.7499 49.99%, 0.8086 56.25%,
      0.8593 62.5%, 0.9023 68.75%, 0.9375 75%,
      0.9648 81.25%, 0.9844 87.5%,
      0.9961 93.75%, 1 100%
    );
  }

  ::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>') top left / 0 no-repeat;
    mask-origin: content-box;
    animation: scale 1s;
    transform-origin: top left;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: scale 1s;
    transform-origin: top left;
    z-index: -1;
  }

  @keyframes scale {
    to {
      mask-size: 350vmax;
    }
  }
}

